body {

  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
.top-section {
  background-color: #ccffcc; /* зеленый */
  padding: 20px;
}
.bottom-section {
  background-color: #fffaaa; /* желтый */
  padding: 20px;
}

.intro-text {
  color: #0052cc;


}
.divider {
  height: 4px;
  background-color: red; /* красная полоска */
  margin: 0;
}
.gallery {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.gallery img {
  width: 200px;
  height: auto;
  border-radius: 5px;
}
form input,
form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
}
form button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #0077cc;
  color: white;
  border: none;
  cursor: pointer;
}
form button:hover {
  background-color: #005fa3;
}
#map {
  width: 100%;
  height: 400px;
  margin-bottom: 20px;
}
.btn {
   display: inline-block;
   padding: 10px 20px;
   margin: 5px;
   background-color: #0077cc;
   color: white;
   text-decoration: none;
   border-radius: 5px;
   font-size: 16px;
}

.btn:hover {
  background-color: #005fa3;
}
.

